<!DOCTYPE html>
<html>
<body>

<h1>Credit Score Classification</h1>
<form action="prediction" method="post">
    <label for="Age">Age:</label>
    <input type="number" id="Age" name="Age"><br>

    <label for="Occupation">Occupation:</label>
    <input type="number" id="Occupation" name="Occupation"><br>

    <label for="Annual_Income">Annual_Income:</label>
    <input type="number" id="Annual_Income" name="Annual_Income"><br>

    <label for="Monthly_Inhand_Salary">Monthly_Inhand_Salary:</label>
    <input type="number" id="Monthly_Inhand_Salary" name="Monthly_Inhand_Salary"><br>

    <label for="Outstanding_Debt">Outstanding_Debt:</label>
    <input type="number" id="Outstanding_Debt" name="Outstanding_Debt"><br>

    <label for="Payment_of_Min_Amount">Payment_of_Min_Amount:</label>
    <input type="number" id="Payment_of_Min_Amount" name="Payment_of_Min_Amount"><br>

    <label for="Total_EMI_per_month">Total_EMI_per_month:</label>
    <input type="number" id="Total_EMI_per_month" name="Total_EMI_per_month"><br>

    <label for="Amount_invested_monthly">Amount_invested_monthly:</label>
    <input type="number" id="Amount_invested_monthly" name="Amount_invested_monthly"><br>

    <label for="Payment_Behaviour">Payment_Behaviour:</label>
    <input type="number" id="Payment_Behaviour" name="Payment_Behaviour"><br>

    <label for="Monthly_Balance">Monthly_Balance:</label>
    <input type="number" id="Monthly_Balance" name="Monthly_Balance"><br>

    

    

    

    <input type="submit" value="Submit">
  </form>

</body>
</html>